version: 1.0

deploy:
  env-vars:
    # App Settings
    APP_NAME: "Laravel"
    APP_KEY: ${{ secrets.APP_KEY }}
    APP_DEBUG: true
    APP_URL: ${{ secrets.APP_URL }}
    APP_LOCALE: de

    # Database
    DB_CONNECTION: ${{secrets.DB_CONNECTION}}
    DB_HOST: ${{secrets.DB_HOST}}
    DB_PORT: ${{secrets.DB_PORT}}
    DB_DATABASE: ${{secrets.DB_DATABASE}}
    DB_USERNAME: ${{secrets.DB_USERNAME}}
    DB_PASSWORD: ${{secrets.DB_PASSWORD}}

    # Mail
    MAIL_MAILER: smtp
    MAIL_HOST: ${{ secrets.IONOS_MAIL_HOST }}
    MAIL_PORT: ${{ secrets.IONOS_MAIL_PORT }}
    MAIL_USERNAME: ${{ secrets.IONOS_MAIL_USERNAME }}
    MAIL_PASSWORD: ${{ secrets.IONOS_MAIL_PASSWORD }}
    MAIL_ENCRYPTION: ${{ secrets.IONOS_MAIL_ENCRYPTION }}
    MAIL_FROM_ADDRESS: ${{ secrets.IONOS_MAIL_FROM_ADDRESS }}

    # AWS S3 Storage
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
    AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
    AWS_USE_PATH_STYLE_ENDPOINT: ${{secrets.AWS_USE_PATH_STYLE_ENDPOINT}}

    # Services & Security
    RECAPTCHA_SITE_KEY: ${{ secrets.RECAPTCHA_SITE_KEY }}
    RECAPTCHA_SECRET_KEY: ${{ secrets.RECAPTCHA_SECRET_KEY }}
    ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
    FRONTEND_KEY: ${{ secrets.FRONTEND_KEY }}

    # Infrastructure Drivers - KORREKTUR: LOG_CHANNEL
    SESSION_DRIVER: ${{secrets.SESSION_DRIVER}}
    CACHE_STORE: ${{secrets.CACHE_STORE}}
    QUEUE_CONNECTION: ${{secrets.QUEUE_CONNECTION}}
    LOG_CHANNEL: ${{secrets.LOG_CHANNEL}}

  bootstrap:
    excludes:
      - .env
      - tests
      - node_modules
      - DOCKER_ENV
      - docker_tag
      - output.log
    post-deployment-remote-commands:
      - find $(pwd) -type f -not -path "$(pwd)/logs/*" -exec chmod 664 {} \;
      - find $(pwd) -type d -not -name "logs" -exec chmod 775 {} \;
      - chmod -R o+w storage bootstrap/cache
      - php artisan key:generate
      - rm -f storage/logs/laravel.log
      - rm -f bootstrap/cache/config.php
      - php artisan config:clear
      - php artisan migrate:fresh --seed
      - php artisan storage:link
      - php artisan optimize

  recurring:
    excludes:
      - .env
      - tests
      - node_modules
      - DOCKER_ENV
      - docker_tag
      - output.log
      - storage
    pre-deployment-remote-commands:
      - php artisan down
    post-deployment-remote-commands:
      - find $(pwd) -type f -not -path "$(pwd)/logs/*" -exec chmod 664 {} \;
      - find $(pwd) -type d -not -name "logs" -exec chmod 775 {} \;
      - chmod -R o+w storage bootstrap/cache
      - rm -f storage/logs/laravel.log
      - rm -f bootstrap/cache/config.php
      - php artisan config:clear
      - php artisan migrate:fresh --seed --force
      - php artisan storage:link
      - php artisan optimize
